:global :local(.file-explorer-enhancements) {
  /* Stretch to fill entire viewport */
  & #main,
  & #content-wrapper,
  & #content,
  & #content > div {
    display: flex;
  }

  & #content,
  & #content > div {
    width: 100%;
  }

  & #content > div {
    flex-direction: column;

    & > .ef-main {
      flex-grow: 1;
    }
  }

  /* Always show button bar */
  & .ef-header__secondary > .ui-buttonset.screenreader-only {
    all: unset;
  }

  /* Fixed width search field */
  & .ef-search-form {
    flex-basis: 320px !important;
  }

  /* Better view button */
  & .btn-view {
    &[disabled],
    &:not([disabled]) + :local(#view-button-shim) {
      display: none;
    }

    &:first-child[disabled] + :local(#view-button-shim) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  & :local(#download-button-shim) {
  }

  & .ef-directory {
    & .ef-directory-header,
    & .ef-item-row {
      position: relative;
      padding-left: 24px;

      /* Fix bug with column width */
      & .ef-select-col {
        flex: unset;
        width: 0;
        height: 100%;
      }
    }

    /* hide default selection */
    & .ef-item-row.ef-item-selected::before {
      content: unset;
    }

    /* Display checkboxes */
    & .ef-directory-header > .ef-select-col > span:first-child,
    & .ef-item-row > .ef-select-col > label {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      padding-left: 24px;
      oveflow: clip;
      clip: rect(0, 24px, auto, 0);

      & > * {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 4px;
        width: 16px !important;
        height: 16px !important;
        margin-top: -8px;
        background: no-repeat center bottom white url('../assets/ic-checkbox-bg.svg') !important;
        border: 1px solid;
        border-radius: 3px;
        border-color: #d8e0e6;
      }

      &:hover::before {
        border-color: var(--ic-brand-primary);
      }
    }

    /* Selected checkboxes */
    & .ef-directory-header > .ef-select-col:local(.selected) > span:first-child::before,
    & .ef-item-row.ef-item-selected > .ef-select-col > label::before {
      background-color: var(--ic-brand-primary) !important;
      background-position: center -1px !important;
      border-color: var(--ic-brand-primary);
    }
  }
}
