
.ef-header__secondary > .ui-buttonset.screenreader-only,
.ef-item-row > label.screenreader-only {
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    padding: unset;
    clip: unset;
    overflow: unset;
    border: unset;
    transform: unset;
}

.ef-search-form {
    flex-basis: 320px !important;
}

.ef-item-row {
    position: relative;
    padding-left: 24px;
}
.ef-item-row.ef-item-selected::before {
    content: unset;
}

.ef-item-row > label.multiselectable-toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 24px;
    clip: rect(0, 24px, auto, 0);
}
.ef-item-row > label.multiselectable-toggler::before {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 4px;
    width: 16px !important;
    height: 16px !important;
    margin-top: -8px;
    background: no-repeat center bottom white !important;
    background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE2IDQ4IiB3aWR0aD0iMTYiIGhlaWdodD0iNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5bGluZSBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIxMS40LDQgNi45LDguNyA0LjYsNi4yIDMsNy45IDYuOSwxMiAxMyw1LjYgMTEuNCw0ICIvPg0KPHBvbHlsaW5lIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMzMzMzMzIiBwb2ludHM9IjExLjQsMjAgNi45LDI0LjcgNC42LDIyLjIgMywyMy45IDYuOSwyOCAxMywyMS42ICAgMTEuNCwyMCAiLz4NCjwvc3ZnPg==) !important;
    border: 1px solid;
    border-radius: 3px;
}
.ef-item-row:hover > label.multiselectable-toggler::before {
    content: '';
    border-color: #d8e0e6;
}
.ef-item-row > label.multiselectable-toggler:hover::before {
    border-color: var(--ic-brand-primary);
}
.ef-item-row.ef-item-selected > label.multiselectable-toggler::before {
    content: '';
    background-color: var(--ic-brand-primary) !important;
    background-position: center -1px !important;
    border-color: var(--ic-brand-primary);
}
